services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:0.7.2
    container_name: open-webui
    restart: unless-stopped

    ports:
      - "3000:8080"

    env_file:
      - .env

    volumes:
      - open-webui:/app/backend/data
      - ./overrides/custom.css:/app/backend/open_webui/static/custom.css:ro

volumes:
  open-webui:
