services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:0.5.6
    container_name: open-webui
    restart: unless-stopped

    ports:
      - "3000:8080"

    env_file:
      - .env

    volumes:
      - open-webui:/app/backend/data

volumes:
  open-webui:
